{% extends 'base.html.twig'%}
{% form_theme formImmo 'bootstrap_4_layout.html.twig' %}
{% block titre %} ajouter un bien {% endblock %}

{% block body %}
{{ form_start(formImmo)}}
    {{form_row(formImmo.titre)}}
    {{form_row(formImmo.description)}}
    {{form_row(formImmo.image)}}
    {{form_row(formImmo.prix)}}
    <hr>
    <button type="submit" class="btn btn-success"> Enregistrer</button>
{{form_end(formImmo)}}    
{% endblock %}
