{% extends 'base.html.twig' %}
{% block title %} Bien n° {{immobilier.id }}  {% endblock %} 
{% block body %}
<article >
    <div class="container">
        <h2 style="text-align: center;">{{ immobilier.titre }}</h2>
        <div class="metadata" style="text-align: center;">Ecrit le {{ immobilier.createdAt | date('d/m/Y')}} a 
            {{immobilier.createdAt | date('H:i')}} </div>
            <p>{{ immobilier.description | raw }}</p>
        <div class="row">
            <img src="/images/{{ immobilier.image}}" alt="">
            
        </div>
    </div>
        
    </article>
{% endblock %}