
.container{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;

}
.boy{
  background: radial-gradient(#ebeff0 1px,#fff 0);
}
header{
  background: rgb(203, 182, 182);
  opacity : 0.50 ;
}
.head{
  display: block;
}
.devise{
  text-align: center;
  font-family : "Comic Sans MS", cursive ;
  letter-spacing : 4px ;
  font-size : 30px ;
  height: 6.2rem;
  padding-top: 1.8rem;
}
/* barre de navigation */
.nav-link{
 margin-left: 40px;
}
.champ{
  padding-left: 6rem;
}

.maiin {
  min-height: 100%;
}
.action{
  display: flex;
  flex-direction: row;
}
.edition{
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
}

.creat{
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
}

